body{
  background-color: #222831;
  box-sizing: border-box;

}
*{
  font-family: monospace;
  font-family: 'Righteous', cursive;
  font-weight: 100;
}
.searchBar{
  display: flex;
  position: relative;
  top: 80px;
  color: white;
  background-color: rgba(57, 62, 70, 0.6);
  height: 90px;
  border-radius: 10px;
}


#input-search{
  display: inline-block;
  padding: 5px;
  font-size: 1.5em;
  text-align: center;
  margin: 15px auto;
  min-width: 440px;
  border-radius: 10px;
}
.wrapper{
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 150px;

}

.menubar{
  flex:1 1 20%;
  height: auto;
  background-color: #393E46;
  min-width: 200px;
  max-width: 300px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

}
.menubar button{
  display: inline-block;
  border-radius: 7px;
  margin: 10px;
  padding: 5px;
  width: 130px;
  background-color: #ffff;
}

.menubar  ul{
  display: inline-block;
  color: white;
}
.menubar  li{
  list-style: none;
}
.menubar .active{
  background-color: #393E46;
  color: white;
}

#main-container{
  min-width: 670px;
  max-width: 1100px;
  flex: 1 1 80%;
  background-color: #393E46;
  background-color: rgba(238, 238, 238, 0.41);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

}

.movie-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  grid-gap: 2em;
  margin: 10px;
  justify-items: center;
}
.movie{
  position: relative;
  width: 17em;
  height: 26em;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  border-radius: 5px;
}

.movie-info{
  display: none;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  border-radius: 5px;
  background-color: rgba(57, 62, 70, 0.6);
}
.movie-info::-webkit-scrollbar{
  display: none;
}
.movie:hover .movie-info{
  display: inline-block;
}
.movie-info .movie-btn-remove{
  position: absolute;
  right: 0px;
  width: 100%;
  height: 30px;
  color: red;
}
button:hover{
  cursor: pointer;
}

.movie-container .medium{
  grid-column: span 8;
  grid-row: span 16;
}

#btn-next,#btn-previous{
  display: inline-block;
  padding: 5px;
  background-color: #393E46;
  color: rgb(221,221,221);
  border-radius: 5px;
}

#footer{
  display: flex;
  min-width: 200px;
  margin: 20px auto;
}

#footer div{
  margin: 0px auto;
}
#footer button{
  margin: 0px 20px;
}
#pagination{
  display: inline-block;
  margin: 0 auto;
  padding-left: 0px;
}

#pagination >li{
  display: inline-block;
  padding: 3px;
}
#pagination .active{
  border-bottom: 2px solid rgb(47, 47, 47);
}
#pagination a{
  font-size: 1.5em;
  color: black;
  text-decoration: none;
}

.addMovieUserForm{
  flex-direction: column;
  display: none;
}
.addMovieForm{
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 150px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 20px;
  background-color: rgba(57, 62, 70, 0.3);
}
.addMovieForm input, .addMovieForm textarea{
  width: 95%;
  display: block;
  border-radius: 7px;
  padding: 3px;
}

.form-description{
  height: 7em;
}
.addMovieForm button{
  width: 120px;
  height: 3em;
  border-radius: 5px;
  margin: 20px auto;
  padding: 3px;
  background-color: #393E46;
  color: White;
}


#popup-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.popUpMsg{
  position: fixed;
  text-align: center;
  background-color: rgb(62, 205, 39);
  border-radius: 5px;
  color: white;
  font-size: 2em;
  top: 50vh;
  min-width: 300px;
}



@media screen and (max-width: 1100px){
  .wrapper{
    flex-wrap: wrap;
  }
  .menubar{
    width: 100%;
    min-width: 100%;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
  }
  .menubar ul li{
    display: inline-block;
  }
  .menubar ul {
    padding: 0px;
  }
  #main-container{
    min-width: 100%;
    border-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .movie{
    width: 16em;
    height: 25em;
  }
  .movie-container{
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  }
}

@media screen and (max-width: 650px){
  .menubar{
    width: 100%;
    min-width: 100%;
  }
  #main-container{
    min-width: 100%;
  }
  .wrapper{
    flex-wrap: wrap;
  }

  #input-search{
    width: 95%;
    min-width: 0px;
  }
}

@media screen and (max-width: 400px){
  .movie-container{
    grid-template-columns: repeat(auto-fit, minmax(170px,1fr));
  }

}
@media screen and (max-width: 500px){
  .menubar ul{
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: center;

  }
  .menubar button{
    width: 95%;
  }
  #input-search{
    font-size: 1em;
  }
  .searchBar{
    height: 60px;
  }
}

@media screen and (max-width: 478px){
  .movie{
    width: 18em;
    height: 27em;
  }
}

@media screen and (max-width: 340px){
  .movie{
    width: 13em;
    height: 20em;
  }
}

@media screen and (max-width: 250px){
  .movie{
    width: 7em;
    height: 12em;
  }
}
