body{
  background-color: #222831;
  box-sizing: border-box;
  font-family: monospace;
}
*{
  font-family: monospace;
}
.searchBar{
  display: block;
  position: relative;
  top: 80px;
  color: white;
  background-color: rgba(0, 173, 181, 0.3);
  height: 60px;
  border-radius: 10px;
}
.searchBar  div{
  width: 600px;
  height: 60px;
  background-color: rgba(0, 173, 181, 0.3);
  margin-left: 30%;
}

#input-search{
  display: inline-block;
  position: relative;
  padding: 5px;
  font-size: 1.5em;
  text-align: center;
  margin: 8px auto;
  margin-left: 20%;

  border-top-left-radius: 15px;
  border-bottom-right-radius: 15  px;
  min-width: 350px;
}
.wrapper{
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 150px;

}

.menubar{
  flex:1 1 20%;
  height: auto;
  background-color: #393E46;
  min-width: 200px;
  max-width: 300px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.menubar button{
  display: inline-block;
  border-radius: 7px;
  margin: 5px;
  padding: 5px;
  width: 100%;

}

.menubar  ul{
  display: inline-block;
}
.menubar  li{
  list-style: none;
}
.menubar .active{
  background-color: rgba(0, 173, 181, 0.9);
}

#main-container{
  min-width: 670px;
  max-width: 1000px;
  flex: 1 1 80%;
  background-color: #393E46;
  background-color: rgba(238, 238, 238, 0.7);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

}

.movie-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  grid-gap: 2em;
  margin: 10px;
}
.movie{
  position: relative;
  min-height: 450px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  border-radius: 5px;

}

.movie-info{
  display: none;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  border-radius: 5px;
  background-color: rgba(57, 62, 70, 0.6);
}
.movie-info::-webkit-scrollbar{
  display: none;
}
.movie:hover .movie-info{
  display: inline-block;
}
.movie-info .movie-btn-remove{
  position: absolute;
  right: 0px;
  top: 0px;
}
p.movie-description{

}
.movie-container .medium{
  grid-column: span 8;
  grid-row: span 16;
}

#btn-next,#btn-previous{
  display: inline-block;
  padding: 5px;
  background-color: #00ADB5;
  color: rgb(221,221,221);
  border-radius: 5px;
}

#footer{
  display: inline-block;
  min-width: 200px;
  margin: 0 auto;
}
#pagination{
  display: inline-block;
  margin: 0 auto;
  padding-left: 0px;
}

#pagination >li{
  display: inline-block;
  padding: 3px;
}
#pagination .active{
  background-color: rgba(0, 173, 181, 0.8);

}


.addMovieForm{
  position: relative;
  grid-column: span 7;
  grid-row: span 6;
  min-width: 150px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 20px;
  background-color: rgba(0, 173, 181, 0.3);
}
.addMovieForm input, .addMovieForm textarea{
  width: 95%;
  display: block;
  border-radius: 7px;
  padding: 3px;
}
.form-description{
  height: 7em;
}
.addMovieForm button{
  width: 95%;
  height: 3em;
  border-radius: 3px;
  margin-top: 20px;
  padding: 3px;
  background-color: rgba(0, 173, 181, 0.4);
  color: white;
}
.popUpMsg{
  display: inline-block;
  position: fixed;
  margin-left: 45%;
  width: 300px;
  text-align: center;
  background-color: rgb(62, 205, 39);
  border-radius: 5px;
  color: white;
  font-size: 2em;
  top: 50vh;
}

@media screen and (max-width: 1200px){
  .addMovieForm{
    grid-column: span 7 ;
    grid-row: span 6;


  }
}
@media screen and (max-width: 1000px){
  .wrapper{
    flex-wrap: wrap;
  }
  .menubar{
    width: 100%;
    min-width: 100%;
  }
  .menubar ul li{

    display: inline-block;
  }
  #main-container{
    min-width: 100%;

  }
  .wrapper{
    flex-wrap: wrap;

  }
  .movie , .addMovieForm{
    grid-column: span 4;
    grid-row: span 5;
  }
  .addMovieForm{
    grid-column: span 7 ;
    grid-row: span 6;


  }
  .movie-container .medium{
    grid-column: span 3;
    grid-row: span 6;
  }

  .searchBar{
    width: 100%;
  }
  .searchBar div{
    width: 100%;
    margin-left: 0px;
  }

}

@media screen and (max-width: 650px){
  .menubar{
    width: 100%;
    min-width: 100%;
  }
  #main-container{
    min-width: 100%;

  }
  .wrapper{
    flex-wrap: wrap;
  }
  .movie , .addMovieForm{

    grid-column: span 6;
    grid-row: span 6;

  }
  .movie-container .medium{
    grid-column: span 12;
    grid-row: span 12;
  }
  #input-search{
    width: 95%;
    margin-left: 0px;
    min-width: 0px;
  }

}

@media screen and (max-width: 650px){
  .movie{
    grid-column: span 12;
    grid-row: span 8;
    margin-left: 10%;
    margin-right: 10%;

  }
  .addMovieForm{
    grid-column: span 12;
    grid-row: span 6;
    margin-left: 10%;
    margin-right: 10%;

  }
  #btn-next,#btn-previous{

    width: 95%;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 2%;
  }

}

@media screen and (max-width: 360px){

  .movie{
    grid-column: span 9;
    grid-row: span 6;
    margin-left: 0px;
    margin-right: 0px;
    min-width: 50px;
  }

  .addMovieForm{
    grid-column: span 9;
    grid-row: span 6;
    margin-left: 1%;
    margin-right: 1%;

  }
}
